/* default styles */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: Segoe UI, sans-serif;
}
input, select {
  padding: 0.2em;
}


/* default styles for mobile devices */
@media only screen and (max-width: 800px) {
  input, select {
    font-size: 1em;
  }
}
