/* container */
.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* headings */
h2 {
  font-size: 1.3em;
  margin-bottom: 0.2em;
}
h2:not(:first-child), summary h2 {
  margin-top: 0.5em;
}

/* calculator input */
.input>* {
  margin-bottom: 5px;  /* adds space between wrapped lines */
}

/* collapsable sections */
summary {
  text-align: center;
}
summary::marker {
  font-size: 1.3em;
}
summary h2 {
  display: inline-block;
}
details > * {
  margin-bottom: 5px;
}

/* calculator output */
.output {
  min-width: 300px;
}
@media only screen and (max-width: 500px) {
  .output {
    width: 100%;
    min-width: 0px;
  }
}
